* {
    box-sizing: border-box;
}
@media screen and (min-width: 0px) {
    h1 {
        color: red;
    }
    .chieucao{
        height: 240px !important;
        overflow: scroll !important;
    }
}
@media screen and (min-width: 768px) {
    h1 {
        color: green;
    }
    .chieucao{
        height: 400px !important;
        overflow: scroll !important;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        color: gray;
    }
    .chieucao{
        height: 900px !important;
        overflow: scroll !important;
    }
}
.noi{
    
    position: fixed;
    box-sizing: border-box;
    z-index:200;
    background-color: #333;

}
a.hover{
    background-color: #ddd;
    color: black;
}
.hinh1{
    background-image: url("https://loremflickr.com/300/200");
}