.title {
    text-align: center;
    background-color: aqua;
}
.anhdaidien{
    size: 400px; margin-right: 50px; 
}
.khung_ben_phai{
     padding: 0px;
     border: 3px black dashed ;
     display: flex;
     flex-direction: column;
     justify-content: center;

}
.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;
    color: blueviolet;
    margin: 0px;
}
.icon{
    float: left;margin-right: 5px;
    height: 30px;
    width: 30px;
}
.link{
    font-size: 30px;padding-bottom: 10px;
}
.main{
    display: flex;
    justify-content: center;
}

